# Build files.
*.o
*.a
*.x
local.mk
gtest/

# Compiled protobuf classes.
*.pb.h
*.pb.cc
*_pb2.py

# Runtime files.
runs/
config.json
*.log
var_*.dat
out_*.txt
*.csv

# OS and IDE files.
.vscode/
*.dSYM/
__pycache__/
hci_profile/
