{
  "type": "heg",
  "r_s": 0.5,
  "n_up": 7,
  "n_dn": 7,
  "rcut_vars": [
    2.5
  ],
  "eps_vars": [
    0.0010
  ],
  "rcut_pts": [
    2.5
  ],
  "eps_pts": [
    0.00001
  ],
  "cache_size": 1000,
  "n_pt_batches": 1,
  "variation_only": false
}