{
  "type": "heg",
  "r_s": 0.5,
  "n_up": 7,
  "n_dn": 7,
  "rcut_vars": [
    2.5
  ],
  "eps_vars": [
    0.0010
  ],
  "rcut_pt_ratio": 1.00,
  "eps_pt_ratio": 0.01,
  "cache_size": 1000,
  "variation_only": false
}
